.wrapper {
  width: fit-content;
  padding: 0px 0px 36px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options dl {
  width: 221px;
  max-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.options dt {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: var(--green);
}
